/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-home {
  background-image: url(../img/icons.png);
  background-position: 0px 0px;
  width: 256px;
  height: 256px;
}
.icon-home2 {
  background-image: url(../img/icons.png);
  background-position: -258px 0px;
  width: 256px;
  height: 256px;
}
.icon-house {
  background-image: url(../img/icons.png);
  background-position: 0px -258px;
  width: 256px;
  height: 256px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-home {
    background-image: url(../img/icons@2x.png);
    background-size: 514px 514px;
  }
  .icon-home2 {
    background-image: url(../img/icons@2x.png);
    background-size: 514px 514px;
  }
  .icon-house {
    background-image: url(../img/icons@2x.png);
    background-size: 514px 514px;
  }
}
